language: node_js

node_js:
  - '4.2.4'

sudo: false

cache:
  directories:
    - node_modules

install: 
  - npm install

script:
  - npm run-script test-coverage

deploy:
  provider: cloudfoundry
  edge: true
  api: $CF_API
  username: $CF_USER
  password: $CF_PASS
  organization: $CF_ORG
  space: $CF_ENV